:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.app_wrapper{
  padding: 2rem;
  min-height: 60vh;
}
.tabs button:focus{
  outline: 0;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.header{
  margin-bottom: 30px;
}
#customiz_btn{
  /* border:1px solid #ccc; */
  background:rgb(200, 84, 48);
   color:#fff;
   outline: 0;
}
.pocke_link{
  color: #535bf2;
  font-size: .8rem;
  margin-bottom: 10px;
  text-decoration: none;
}
.pair_details{
  margin: auto;
  width: 70%;
  text-align: start;
}
.pair_details > button{
  margin-bottom: 20px;
  background: chocolate;
  color: #fff;
  outline: 0;
  border: 0;
}
.pair_details > button:hover{
  background: rgb(231, 125, 49);
  color: #fff;
}
.app-container{
  width: 100%;
    margin: auto;
    box-shadow: 1px 1px 2px #aaa, 0px 0px 1px #aaa;
  }
  .pagination{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 0;
    line-height: 3;
  }
  .block{display:block}
  .pair_load{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.select_box{
  padding: 12px;
    border-radius: 7px;
    outline: 0;
    border: 0;
    box-shadow: 0px 0px 3px #6d0000;
    min-width: 150px;
}
  

  @media (max-width:768px) {
    .pair_details{
      width: 90%;
    }
  }
  .img_single{
    display: flex;
    gap: 10px;
  }
  .img_single .card-title{
    font-size: 2rem;
    margin: 0;
  }
  .list_group{
    padding: 0;
    list-style-type: none;
    text-align: start;
  }


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


